.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.sqr {
  box-sizing: border-box;
}

.container.show-border .sqr {
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.container.hide-border .sqr {
  border: none;
}

.draw {
  background-color: black;
  opacity: 0.7;
}

.slider-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.slider-value {
}

.slider {
}

.active-button {
  background-color: grey;
}
