body {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 450px;
  height: 450px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.sqr {
  box-sizing: border-box;
}

.container.show-border .sqr {
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.container.hide-border .sqr {
  border: none;
}

.slider-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  font-size: 13px;
  border-radius: 15px;
  padding: 5px 10px;
}

/* 1. The Outer Box */
#color-picker {
  -webkit-appearance: none; /* Removes default browser styling */
  -moz-appearance: none;
  appearance: none;
  width: 43px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 2. The Internal Color Circle (Chrome/Safari) */
#color-picker::-webkit-color-swatch {
  border-radius: 50%; /* Makes it a circle */
  border: none;
}

.active-button {
  border: solid 2px red;
}
