.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.grid {
    border: solid 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /* transition: background-color 0.1s; */
}

.hover {
    background-color: red;
}